![image](https://github.com/RichVR2321/FIS-PROYECTO-2023/assets/143575482/724b09b2-b182-4d08-946a-8085cb248f93)

![image](https://github.com/RichVR2321/FIS-PROYECTO-2023/assets/143575482/93fdcbef-70bf-4eb0-8039-09ffb8d9fb14)

![image](https://github.com/RichVR2321/FIS-PROYECTO-2023/assets/143575482/69db7b63-6f77-4156-a352-94b8dd1dba2e)

![image](https://github.com/RichVR2321/FIS-PROYECTO-2023/assets/143575482/7c0d9674-4dcc-4905-a38a-84a6d4e869a5)

![image](https://github.com/RichVR2321/FIS-PROYECTO-2023/assets/143575482/13a05330-2847-4c9b-a77a-b188212b37f9)

![image](https://github.com/RichVR2321/FIS-PROYECTO-2023/assets/143575482/ad610e11-05c2-4b1d-8add-6ee06f1b16f6)

![image](https://github.com/RichVR2321/FIS-PROYECTO-2023/assets/143575482/8ab78a59-b2a6-4733-879e-e06664655065)

---------------

   ![image](https://github.com/RichVR2321/FIS-PROYECTO-2023/assets/143575482/a1c39791-b2be-40bb-ad93-7b35694d6db5)
   ![image](https://github.com/RichVR2321/FIS-PROYECTO-2023/assets/143575482/bbe84fba-d624-4d6b-ab4e-87cc5e382943)
   
---------------

## Conclusions 
As far as comfort and intuitiveness are concerned, the application has a high average rating, however, it loses value when interacting in real time, as it obtained slightly lower ratings in terms of everyday use and the ability to learn from the app. application is concerned.

Analyzing the contact that the application had with users, there was a rather negative first approach, the opposite of what was presented in the satisfaction survey. The number of tasks that were completed on the first try is, for the most part, positive numbers, but not entirely, which suggests that the application is not entirely intuitive, a fact that is confirmed by observing the high percentage of missclik that is presented in each requirement. Finally, we take into account the average time for each requirement to conclude that the ease of each requirement and the intuition that each one presents could be greatly improved, since having an average of 20 or more seconds does not meet the requirements 100%. % of everything we had planned.

## Changes and improvements

### **Deleted items:**

• IOS adaptability: It was considered an unnecessary element of low relevance compared to other requirements of greater importance and usefulness.

• Notifications: Considered an important feature, however, not as important as other features on the list, which were given higher priority

###  **Added items:**

• Product Release: Added main app feature after second phase delivery; This refers to the possibility of uploading advertising for your product with text, images and videos, taking into account limitations and sanctions.

• Search bar: A search bar was integrated that allows the user to speed up the search for a product

• Navbar: A navigation bar was integrated that allows the user to speed up movement between interfaces, allowing them to move from one function to another with total freedom

• Animations: Animations were created that appear when switching between interfaces or when logging into the application

### **Program improvement**

All the changes that were implemented focused on improving user service, allowing ease of transitions, search and comfort with the application, as well as their visual taste in the application, which is why the animations were created; Functions were created to make the user feel safe, such as user blocking or publication reporting. The changes and updates prioritized the user experience, seeking comfort and peace of mind, something that was not taken into account much in previous installments. In summary, what improved this delivery was the emphasis placed on the user's needs and satisfying the basic expectations of an everyday application.





